<!-- <form ng-submit="$UserFactory()">
  <div class="modal-header">
    <h3 class="modal-title">Login / Create User</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <p>Enter username and password.</p>
    <div class="">
      <input type="email" ng-model="$UserFactory.username" required placeholder="Email" />
      <input type="password" ng-model="$UserFactory.password" required placeholder="Password" />
    </div>
    <div class="">
      <input class="btn btn-primary" type="submit" value="Login" />
    </div>
    <!-- ng-model="$SetUsernameModal.username"
  </div>

  <div class="modal-footer">

  </div>
</form> -->
